/* Remove the navbar's default margin-bottom and rounded borders */

body {
	background-color: #FF3399;
}

h3 {
	color: white;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
	background-color: #36251E;
	font-family: 'Pacifico', cursive;
	font-size: 30px;
}

footer {
	background-color: #36251E;
	padding: 25px;
}

.logo {
	font-size: 45px;
}

.carousel-inner img {
	width: 100%;
	margin: auto;
	min-height: 200px;
}

@media (max-width: 600px) {
	.carousel-caption {
		display: none;
	}
}
