body {
	/*background: #d9a7c7;	
	background: -webkit-linear-gradient(to top, #fffcdc, #d9a7c7);	
	background: linear-gradient(to top, #fffcdc, #d9a7c7);*/
	background-color: #FDFAF3;
	font-family: 'Open Sans', sans-serif;
}

h3 {
	color: #29276E;
	font-family: 'Pacifico', cursive;
	font-size: 35px;
}

<<<<<<< HEAD
#infobox {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: #ffffff;
    border: 2px solid #BF0A30;
    border-radius: 5px;
    padding: 5px;
    font-family: arial;
=======
#info-box {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	background-color: #ffffff;
	border: 2px solid #BF0A30;
	border-radius: 5px;
	padding: 5px;
	font-family: arial;
>>>>>>> 5fdbc116666173eec0c7a41a06c51c8f9e7c0490
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
	background-color: #FAE0E0;
	border-color: #FAE0E0;
	font-family: 'Pacifico', cursive;
	font-size: 30px;
}

li.navbar {
	text-align: center;
}

footer {
	background-color: #FAE0E0;
	padding: 25px;
}

.well {
	background-color: transparent;
	border-color: transparent;
	box-shadow: none;
	font-size: 20px;
}

.carousel-inner img {
	width: 100%;
	margin: auto;
	min-height: 200px;
}

.social img {
	width: 100px;
	height: 100px;
	margin: 50px;
	transition: all linear 0.3s;
}

.social img:hover {
	transform: rotate(360deg);
}

.followUs {
	color: #29276E;
	font-family: 'Pacifico', cursive;
	font-size: 50px;
	margin-bottom: 100px;
}

.langues {
	color: #29276E;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
}

p.separateur {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	width: 400px;
	border-style: solid;
	border-color: #29276E;
}

@media (max-width: 600px) {
	.carousel-caption {
		display: none;
	}
	.social img {
		width: 75px;
		height: 75px;
		margin: 10px;
	}
	img.logo {
		position: absolute;
		z-index: 1;
		margin-top: -10px;
		margin-left: 10px;
		height: 100px;
		width: auto;
	}
	.centrer>a {
		text-align: right;
	}
	img.logo-footer {
		height: 100px;
		width: auto;
	}
	img.login-footer {
		height: 30px;
		width: auto;
	}
	img.flag {
		height: 30px;
		width: auto;
	}
}

@media (min-width: 600px) {
	.followUs {
		margin-top: -75px;
	}
	img.milieu {
		margin-top: 100px;
	}
	img.bout {
		margin-top: 200px;
		margin-left: 20px;
		margin-right: 20px;
	}
	img.logo {
		position: absolute;
		z-index: 1;
		margin-top: -10px;
		margin-left: 20px;
		height: 150px;
		width: auto;
		transition: all linear 0.3s;
	}
	img.logo:hover {
		transform: rotate(45deg);
	}
	img.logo-footer {
		height: 150px;
		width: auto;
	}
	img.login-footer {
		height: 30px;
		width: auto;
	}
	img.flag {
		height: 30px;
		width: auto;
	}
}
